.App {
  padding: 30px;
  display: flex;
  background-color: paleturquoise;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  border: 2px solid gray;
  background-color: pink;
  border-radius: 5px;
  padding:15;
  height: max-content;
}